{% extends 'portfolio_app/base.html' %}

{% block content%}

<div class="sidebar">
	<p>-
        <font color="#14293C">
            <b>Who I am</b>
        </font>
        -</p>

		<div class="essay">
			<p>I am a young man graduated in mechanical engineering at Politecnico di Milano</p>
		</div>
</div>

<div class="container-1">
	<div class="slideshow">

	</div>

	<div class="slideshow-title">
		<p>Projects by programming languages</p>
	</div>
	
</div>

<div class="container-2">
	<div class="slider-container">

		<p class="slidebuttonup" id="slideup" onclick="slideup()"><</p>

		<div class="slideshow" id="slider">
			<div class="icon-1" id="icon">

			</div>
			<div class="icon-2">

			</div>
			<div class="icon-3">

			</div>
			<div class="icon-4">

			</div>
			<div class="icon-5">

			</div>
			<div class="icon-6">

			</div>
		</div>

		<p class="slidebuttondown" id="slidedown" onclick="slidedown()">></p>
	</div>

	<div class="slideshow-title">
		<p>Projects by topics</p>
	</div>
</div>


<style>
	:root{
		--icon-width: 300px;
		--icon-height: 200px;
		--icon-bgc: white;
	}

	.slidebuttondown{
		position: absolute;
		bottom: 7.5%;
		writing-mode: vertical-rl;
		text-orientation: mixed;
		font-weight: bold;
		user-select: none;
	}

	.slidebuttonup:hover{
		color:#16E788;
		cursor: pointer;
	}

	.slidebuttonup{
		position: absolute;
		top: 7.5%;
		writing-mode: vertical-rl;
		text-orientation: mixed;
		font-weight: bold;
		transition: all 0.5s;
		opacity: 0;
		user-select: none;
	}

	.slidebuttondown:hover{
		color:#16E788;
		cursor: pointer;
	}

    .sidebar{
        background-color: #16E788;
        position: absolute;
        height: 100%;
        width: 30%;
		font-size: 40pt;
    }

	.essay{
		font-size: 20pt;
		text-align: center;
		font-weight: 600;
		margin: 50px;
	}

	.container-1{
        position: absolute;
		left: 30%;
        height: 100%;
        width: 35%;
		font-size: 40pt;
    }

	.container-2{
		display: flex;
		align-items: center;
        position: absolute;
		left: 65%;
        height: 100%;
        width: 35%;
		font-size: 40pt;
    }

	.slideshow{
		position: absolute;
		width: 70%;
		height: 70%;
		overflow: hidden;
		scroll-behavior: smooth;
	}

	.icon-1{
		position: absolute;
		border: 2px solid white;
		top: 1.5%;
		left: 5%;
		width: 90%;
		height: 30%;
	}

	.icon-2{
		position: absolute;
		border: 2px solid white;
		top: 34.5%;
		left: 5%;
		width: 90%;
		height: 30%;
	}

	.icon-3{
		position: absolute;
		border: 2px solid white;
		top: 67.5%;
		left: 5%;
		width: 90%;
		height: 30%;
	}

	.icon-4{
		position: absolute;
		border: 2px solid red;
		top: 100.5%;
		left: 5%;
		width: 90%;
		height: 30%;
	}

	.icon-5{
		position: absolute;
		border: 2px solid blue;
		top: 133.5%;
		left: 5%;
		width: 90%;
		height: 30%;
	}

	.icon-6{
		position: absolute;
		top: 164%;
		left: 5%;
		width: 90%;
		height: 1.5%;
	}

	.slideshow-title{
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		left: 80%;
		width: 20%;
		height: 100%;
		writing-mode: vertical-rl;
		text-orientation: mixed;
		font-size: 25pt;
		text-align: center;
	}

	.slider-container{
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		left: 0%;
		width: 80%;
		height: 100%;
	}

</style>

<script>

function slideup(){
		var clientHeight = document.getElementById("icon").clientHeight;
		var iconRect = document.getElementById("icon").getBoundingClientRect();
		var sliderRect = document.getElementById("slider").getBoundingClientRect();
		var offset = Math.abs(iconRect.top - sliderRect.top);

		if (offset < 2*clientHeight) {
			document.getElementById("slideup").style.opacity = "0";
		}
		else {
			document.getElementById("slidedown").style.opacity = "1";
		}

		document.getElementById("slider").scrollTo(0, offset - clientHeight - clientHeight/20);
	}

	function slidedown(){
		var clientHeight = document.getElementById("icon").clientHeight;
		var iconRect = document.getElementById("icon").getBoundingClientRect();
		var sliderRect = document.getElementById("slider").getBoundingClientRect();
		var offset = Math.abs(iconRect.top - sliderRect.top);

		if (offset > clientHeight) {
			var n = 3;
			document.getElementById("slidedown").style.opacity = "0";
		}
		else {
			var n = 1;
			document.getElementById("slideup").style.opacity = "1";
		}

		document.getElementById("slider").scrollTo(0, offset + n*clientHeight/20 + clientHeight);
	}

</script>



{% endblock %}
