{% extends 'portfolio_app/base.html' %}

{% block content%}

<div class="title-container">
    <p>{{title}} &#160PROJECTS</p>
    
</div>
<div id="menu-button"  onclick="openMenu()">&#8801</div>
<div id="menu">
    <div id="close-menu" onclick="closeMenu()">&#215</div>
    <a class="menu-element" id="me1" href="{% url 'projects' pk='python' %}">Python</a>
    <a class="menu-element" id="me2" href="{% url 'projects' pk='html' %}">Html</a>
    <a class="menu-element" id="me3" href="{% url 'projects' pk='css' %}">Css</a>
    <a class="menu-element" id="me4" href="{% url 'projects' pk='javascript' %}">Javascript</a>
    <a class="menu-element" id="me5" href="{% url 'projects' pk='matlab' %}">Matlab</a>
</div>

<div class="projects-container">
    <!-- first line -->
    <div class="projects" id="p11">
        <div class="project-title">
            Project Title
        </div>
        <p class="project-description">Brief description of the project of a project of a project of a project</p>
    </div>
    <div class="projects" id="p12">

    </div>
    <div class="projects" id="p13">

    </div>
    <div class="projects" id="p14">

    </div>
    <!-- second line -->
    <div class="projects" id="p21">

    </div>
    <div class="projects" id="p22">

    </div>
    <div class="projects" id="p23">

    </div>
    <div class="projects" id="p24">

    </div>
    <!-- third line -->
    <div class="projects" id="p31">

    </div>
    <div class="projects" id="p32">

    </div>
    <div class="projects" id="p33">

    </div>
    <div class="projects" id="p34">

    </div>
</div>

<style>
    .title-container{
		display: flex;
		justify-content: left;
		align-items: center;
		position: absolute;
        padding-left: 5%;
		background-image: linear-gradient(to right, #16E788, #14293C);
		top: 50px;
		left: 0%;
		width: 70%;
		height: 60px;
		color: #14293C;
		font-weight: bold;
		font-size: 30pt;
        text-transform: uppercase;
	}

    #menu-button{
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        right: 5%;
        top: 50px;
        font-size: 30pt;
        background-color: #16E788;
        color: #14293C;
        border-radius: 10px;
        border: none;
        transition-duration: 0.5s;
        user-select: none;
    }

    #close-menu{
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        right: 0px;
        top: -5px;
        font-size: 30pt;
        color: white;
        user-select: none;
    }

    #close-menu:hover{
        cursor: pointer;
        font-weight: bold;
    }

    #menu{
        position: absolute;
        width: 60px;
        height: 60px;
        right: 5%;
        top: 50px;
        background-color: #16E788;
        border-radius: 10px;
        border: none;
        z-index: -1;
        transition-duration: 0.5s;
        overflow: hidden;
    }

    .menu-element{
        display: flex;
		align-items: center;
        justify-content: left;
        position: absolute;
        width: 285px;
        height: 60px;
        color: white;
        font-size: 20pt;
        text-decoration-line: none;
        padding-left: 15px;
        transition-duration: 0.5s;
        visibility: hidden;
    }

    #me1{
        top: 60px;
    }
    #me2{
        top: 120px;
    }
    #me3{
        top: 180px;
    }
    #me4{
        top: 240px;
    }
    #me5{
        top: 300px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .menu-element:hover{
        background-color: #16E788;
        color: #14293C;
        font-weight: bold;
    }

    #menu-button:hover{
        border: 1.5px solid white;
        cursor: pointer;
    }

    .projects-container{
        position: absolute;
        top: 110px;
        height: 85%;
        width: 100%;
    }

    .project-title{
        display: flex;
		align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 30%;
        background-color: #295B57;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        color: white;
        font-size: 20pt;
        transition-duration: 0.5s;
    }

    .projects:hover > .project-title{
        background-color: #16E788;
        color:  #14293C;
        font-weight: bold;
    }

    .project-description{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: 15pt;
        width: 80%;
        height: 70%;
        left: 10%;
        bottom: -20px;
        transition-duration: 0.5s;
    }

    .projects:hover > .project-description{
        color: #14293C;
        font-weight: bold;
    }

    .projects{
        position: absolute;
        background-color: #ffffff10;
        border-radius: 20px;
        width: 21%;
        height: 25%;
        transition-duration: 0.5s;
    }

    .projects:hover{
        width: 23%;
        height: 27%;
        background-color: white;
    }

    #p11{
        top: 10%;
        left: 5%;
    }

    #p12{
        top: 10%;
        left: 28%;
    }

    #p13{
        top: 10%;
        left: 51%;
    }

    #p14{
        top: 10%;
        left: 74%;
    }

    #p21{
        top: 37.5%;
        left: 5%;
    }

    #p22{
        top: 37.5%;
        left: 28%;
    }

    #p23{
        top: 37.5%;
        left: 51%;
    }

    #p24{
        top: 37.5%;
        left: 74%;
    }

    #p31{
        top: 65%;
        left: 5%;
    }

    #p32{
        top: 65%;
        left: 28%;
    }

    #p33{
        top: 65%;
        left: 51%;
    }

    #p34{
        top: 65%;
        left: 74%;
    }

    #p11:hover{
        top: 9%;
        left: 4%;
    }

    #p12:hover{
        top: 9%;
        left: 27%;
    }

    #p13:hover{
        top: 9%;
        left: 50%;
    }

    #p14:hover{
        top: 9%;
        left: 73%;
    }

    #p21:hover{
        top: 36.5%;
        left: 4%;
    }

    #p22:hover{
        top: 36.5%;
        left: 27%;
    }

    #p23:hover{
        top: 36.5%;
        left: 50%;
    }

    #p24:hover{
        top: 36.5%;
        left: 73%;
    }

    #p31:hover{
        top: 64%;
        left: 4%;
    }

    #p32:hover{
        top: 64%;
        left: 27%;
    }

    #p33:hover{
        top: 64%;
        left: 50%;
    }

    #p34:hover{
        top: 64%;
        left: 73%;
    }

</style>

<script>
    function openMenu(){
        document.getElementById("menu").style.width = "300px";
        document.getElementById("menu").style.height = "360px";
        document.getElementById("menu").style.backgroundColor = "#295B57";
        document.getElementById("menu").style.zIndex = "1";
        document.getElementById("menu").style.borderRadius = "20px";

        document.getElementById("menu-button").style.borderRadius = "22px";

        document.getElementById("me1").style.visibility = "visible";
        document.getElementById("me2").style.visibility = "visible";
        document.getElementById("me3").style.visibility = "visible";
        document.getElementById("me4").style.visibility = "visible";
        document.getElementById("me5").style.visibility = "visible";
    }

    function closeMenu(){
        document.getElementById("menu").style.width = "60px";
        document.getElementById("menu").style.height = "60px";
        document.getElementById("menu").style.backgroundColor = "#16E788";
        document.getElementById("menu").style.zIndex = "-1";
        document.getElementById("menu").style.borderRadius = "10px";

        document.getElementById("menu-button").style.borderRadius = "10px";

        document.getElementById("me1").style.visibility = "hidden";
        document.getElementById("me2").style.visibility = "hidden";
        document.getElementById("me3").style.visibility = "hidden";
        document.getElementById("me4").style.visibility = "hidden";
        document.getElementById("me5").style.visibility = "hidden";
    }
</script>

{% endblock %}